# IP address or hostname of the printer in LAN
PRINTER_HOST=10.192.138.219
PRINTER_PORT=9100

# Service port
PORT=3000

# Optional security
# API_KEY=super-secret-key
# CORS_ORIGIN=https://your-frontend.example.com